{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    {{ $count := len .Pages }}
    <h2 class="matching-tags">{{ $count }} {{ .RelPermalink }}</h2>
    {{ range sort .Pages }}
    <ul>
      <div>
        {{ if .Params.tags }}
          {{ partial "tags" .Params.tags }}
        {{ end }}
      </div>
      <h1><a class="button is-link" href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
    </ul>
    {{ end }}
  </div>
</section>
{{ partial "footer" . }}